<a href="https://colab.research.google.com/github/gayatrii-366/PDS/blob/main/PDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

cloning the datasets from github

In [1]:
! git clone "https://github.com/gayatrii-366/PDS.git"

Cloning into 'PDS'...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (31/31), done.
remote: Total 35 (delta 8), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (35/35), 165.39 KiB | 822.00 KiB/s, done.
Resolving deltas: 100% (8/8), done.

imported both the datasets and read them
concated them
randomly picked their samples
and concatanated their samples

then used some functions for pre-procewsing data(cleaning)

In [15]:
import pandas as pd
url1= "/content/PDS/Food_Preference.csv"
df1=pd.read_csv(url1)

url2= "/content/PDS/indian_food.csv"
df2=pd.read_csv(url2)

print("Food prefernce:")
df1.head()
print("Indian food:")
df2.head()

concat_df=pd.concat([df1,df2],axis=0)
concat_df.head()

sample_df1=df1.sample(frac=0.2,random_state=42)
sample_df2=df2.sample(frac=0.2,random_state=42)
concat_sample = pd.concat([sample_df1,sample_df2],axis=0)
concat_sample.head()

#returns information about the data
concat_sample.info()
#returns datatype and stuff
concat_sample.describe()
#returns all null vlues
concat_sample.isnull()
#returns sum of all null values
concat_sample.isnull().sum()
#drops all null values
concat_sample.dropna()
#fills all null values with "0"
concat_sample.fillna(0)
#returns all duplicated values
concat_sample.duplicated()

Food prefernce:
Indian food:
<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 45 to 177
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Timestamp       58 non-null     object
 1   Participant_ID  58 non-null     object
 2   Gender          57 non-null     object
 3   Nationality     58 non-null     object
 4   Age             58 non-null     float64
 5   Food            58 non-null     object
 6   Juice           58 non-null     object
 7   Dessert         58 non-null     object
 8   name            51 non-null     object
 9   ingredients     51 non-null     object
 10  diet            51 non-null     object
 11  prep_time       51 non-null     float64
 12  cook_time       51 non-null     float64
 13  flavor_profile  51 non-null     object
 14  course          51 non-null     object
 15  state           51 non-null     object
 16  region          51 non-null     object
dtypes: float64(3), object(14)
memory usage: 15.3+ KB

45     False
157    False
256    False
42     False
181    False
       ...
16     False
67     False
206    False
200    False
177    False
Length: 109, dtype: bool